.about {
    max-width: 1280px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-bottom: 90px;
    padding-top: 20px;

    .about-group {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 25%);
        text-align: center;
        justify-items: center;
    }

    .about-item {
        width: 161px;
        height: 161px;
    }

    .section-title-text {
        max-width: 874px;
        max-height: 99px;
    }
}
