.about {
    max-width: 1280px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-bottom: 90px;
    padding-top: 20px;

    .about-group {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 25%);
        text-align: center;
        justify-items: center;
    }

    .about-item {
        width: 161px;
        height: 161px;
    }

    .section-title-text {
        max-width: 874px;
        max-height: 99px;
        padding: 0 10px 0 10px;
    }
    //600px
    @include for-tablet-portrait-up {
        .about-group {
            grid-template-columns: repeat(2, 50%);
        }
    }
    //599px
    @include for-phone-only {
        .about-group {
            grid-template-columns: 1fr;
        }
        .about-item {
            width: 70%;
            height: auto;
        }
        .section-title-text {
            font-size: 20px;
            line-height: 40px;
            max-height: 100%;
            margin-bottom: 10px;
        }
    }
}
