.first {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $steel-grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;

    .first-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $white;

        h3 {
            font-size: 30px;
            line-height: 1.83;
            margin: 0;
        }

        h1 {
            text-transform: uppercase;
            font-size: 100px;
            font-weight: 800;
            line-height: 1.1;
            letter-spacing: 23.4px;
            margin: 0;
        }

        .first-p {
            position: relative;
            font-size: 25px;
            line-height: 1.83;
            margin-bottom: 100px;

            &::after {
                content: url(../img/mustage.svg);
                position: absolute;
                top: 68px;
                left: 46%;
            }
        }

        .btn {
            align-self: center;
        }
        
    }

    @include for-tablet-landscape-up {
        .first-text {
            h1 { 
                font-size: 70px;
            }

            h3 {
                font-size: 20px;
            }
            .first-p {
                &::after {
                    left: 42%;
                }
            }
        }
    }
}
