html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

li {
  list-style: none;
}

.btn {
  width: 196px;
  height: 47px;
  background-color: #cfc91d;
  font-size: 14px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 2.1px;
  color: #0b1016;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #02918c;
  color: #f4efe9;
}

h2 {
  font-size: 46px;
  font-weight: 800;
  text-align: center;
  color: #02918c;
  -webkit-text-decoration: underline dotted #cdcfd1;
          text-decoration: underline dotted #cdcfd1;
}

.section-title-text {
  font-size: 16px;
  line-height: 2.56;
  text-align: center;
  color: #7e8287;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 80px;
}

.item-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.44;
  color: #7e8287;
}

.item-text {
  font-size: 11px;
  line-height: 1.91;
  color: #7e8287;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 30px;
  color: #f0f0e8;
  border: 1px solid #7e8287;
  background-color: #7e8287;
  border-radius: 5%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.up:hover {
  color: #0f0f17;
  background-color: #817d78;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 61px;
  background-color: #02918c;
  z-index: 8;
}

header .logo {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.75;
  color: #cfc91d;
  margin-left: 51px;
}

header .logo span {
  color: #ffffff;
}

header nav {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 61px;
  margin-right: 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

header nav ul li {
  margin-right: 50px;
}

header nav ul li a {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}

header nav ul li a:hover {
  color: #4d4d4d;
}

header nav #menu__toggle,
header nav .menu__btn {
  display: none;
}

@media (max-width: 900px) {
  header nav .menu {
    position: fixed;
    top: 0;
    right: -350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: whitesmoke;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header nav .menu li {
    margin-left: -40px;
  }
  header nav .menu li:hover {
    background-color: gainsboro;
  }
  header nav .menu li a {
    padding: 0 70px;
    color: black;
    font-size: 15px;
  }
  header nav .menu__btn {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    z-index: 9;
  }
  header nav .menu__btn::before, header nav .menu__btn::after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #cfc91d;
    -webkit-transition: .25s;
    transition: .25s;
  }
  header nav .menu__btn::after {
    top: -7px;
  }
  header nav .menu__btn::before {
    top: 7px;
  }
  header nav .menu__btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #cfc91d;
    -webkit-transition: .25s;
    transition: .25s;
  }
  header nav #menu__toggle:checked + .menu__btn::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  header nav #menu__toggle:checked + .menu__btn::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  header nav #menu__toggle:checked + .menu__btn span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  header nav #menu__toggle:checked + .menu__btn + .menu {
    right: 0;
  }
}

.first {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7e8287;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.first .first-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.first .first-text h3 {
  font-size: 30px;
  line-height: 1.83;
  margin: 0;
}

.first .first-text h1 {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 23.4px;
  margin: 0;
}

.first .first-text .first-p {
  position: relative;
  font-size: 25px;
  line-height: 1.83;
  margin-bottom: 100px;
}

.first .first-text .first-p::after {
  content: url(../img/mustage.svg);
  position: absolute;
  top: 68px;
  left: 46%;
}

.first .first-text .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 900px) {
  .first .first-text h1 {
    font-size: 70px;
  }
  .first .first-text h3 {
    font-size: 20px;
  }
  .first .first-text .first-p::after {
    left: 42%;
  }
}

@media (max-width: 600px) {
  .first .first-text h1 {
    font-size: 40px;
  }
  .first .first-text h3 {
    font-size: 20px;
  }
  .first .first-text .first-p {
    font-size: 20px;
  }
  .first .first-text .first-p::after {
    left: 39%;
  }
}

.about {
  max-width: 1280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0 auto;
  margin-bottom: 90px;
  padding-top: 20px;
}

.about .about-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  text-align: center;
  justify-items: center;
}

.about .about-item {
  width: 161px;
  height: 161px;
}

.about .section-title-text {
  max-width: 874px;
  max-height: 99px;
  padding: 0 10px 0 10px;
}

@media (max-width: 600px) {
  .about .about-group {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

.section-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#f0f0e8), to(#cbbfb4));
  background: linear-gradient(to right, #f0f0e8 0%, #cbbfb4 100%);
}

.services {
  max-width: 1280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 51%;
      grid-template-columns: 51%;
      grid-template-areas: "h2 img" "title img" "services img";
  background-color: #f0f0e8;
  padding-left: 92px;
}

.services h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h2;
      justify-self: self-start;
  margin: 0;
  padding-top: 60px;
  margin-bottom: 35px;
}

.services .section-title-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
      justify-self: self-start;
  max-width: 470px;
  text-align: left;
  margin-bottom: -30px;
  margin-top: -30px;
}

.services .services-group {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: services;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  margin-bottom: 10px;
}

.services .services-item {
  max-width: 164px;
  max-height: 143px;
}

.services .services-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: img;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .services {
        grid-template-areas: "h2 h2" "title title" "services services";
  }
  .services .services-img {
    display: none;
  }
}

.mywork {
  max-width: 1280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h2" "title" "img-wrap";
  padding-top: 15px;
}

.mywork h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h2;
}

.mywork .section-title-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.mywork .mywork-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0 10px 0 10px;
}

.mywork .mywork-items .mywork-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img-wrap;
}

.mywork .mywork-items .mywork-item img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: img;
  max-width: 100%;
}

.mywork .mywork-items .mywork-item .item-layer_bottom {
  display: block;
}

.mywork .mywork-items .mywork-item .item-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.mywork .mywork-items .mywork-item:hover .item-layer_top,
.mywork .mywork-items .mywork-item.active .item-layer_top {
  opacity: 1;
}

.mywork .mywork-items .mywork-item .item-layer-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mywork .mywork-items .mywork-item .item-layer-text_mobile {
  font-size: 15px;
  border-top: 1px solid #b3b3b3;
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.mywork .mywork-items .mywork-item.active .item-layer-text_mobile {
  display: block;
}

.mywork .mywork-items .mywork-item .item-layer_scale {
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.mywork .mywork-items .mywork-item:hover .item-layer_scale,
.mywork .mywork-items .mywork-item.active .item-layer_scale {
  border-radius: 0%;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 900px) {
  .mywork .section-title-text {
    margin-bottom: 0;
    margin-top: 0;
  }
  .mywork .mywork-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.contact {
  padding-top: 15px;
}

.contact-form {
  background-color: #0b0b0b;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
      grid-template-areas: "name-inp" "email" "textarea" "submit";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.contact-form .inp-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name-inp;
  width: 637px;
  height: 31px;
  background-color: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom: 1px solid #898989;
  outline: none;
}

.contact-form .inp-email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: email;
  width: 637px;
  height: 31px;
  background-color: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom: 1px solid #898989;
  outline: none;
}

.contact-form .textarea {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: textarea;
  resize: none;
  background-color: inherit;
  color: #ffffff;
  border: none;
  border: 1px solid #898989;
  outline: none;
  padding: 5px;
}

.contact-form .btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: submit;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contact-form ::-webkit-scrollbar {
  width: 10px;
}

.contact-form ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

.contact-form ::-webkit-scrollbar-thumb {
  background: #898989;
  border-radius: 10px;
}

.contact-form ::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}

@media (max-width: 900px) {
  .contact-form .inp-name {
    max-width: 500px;
  }
  .contact-form .inp-email {
    max-width: 500px;
  }
}

footer {
  height: 79px;
  text-align: center;
  line-height: 79px;
  background-color: #000000;
}

footer a {
  color: #252525;
}

footer a:hover {
  color: #585858;
}
/*# sourceMappingURL=style.css.map */